* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #000000, #555555, #ffffff);
}

.Register .title-Reg {
  font-size: 25px;
  font-weight: 500;
}

.Register {
  width: 700px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.Register input,
.Register select,
.Register button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.Register button {
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.Register button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .Register {
    max-width: 90%;
  }
}

.Register form .reg-form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reg-form-container .form-group-reg {
  width: calc(50% - 10px);
  margin-bottom: 15px;
}

.reg-form-container .form-group-reg input {
  height: 45px;
  width: 100%;
}

.reg-form-container .form-group-reg:first-child {
  margin-right: auto;
}

.reg-form-container .form-group-reg:last-child {
  margin-left: auto;
}

.form-group {
  width: calc(50% - 10px);
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
