
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 .main-container-login .imgtitle img{
  position: absolute;
  top: -20px;
  left: 10px;
  width: 200px;
  height: auto;
  z-index: 10;
}
 /* Main Container */
.main-container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #000000, #9bbce6);
}

/* Form Container */
.form-container {
  background-color: #2c3e50;
  
  padding: 2rem;
  width: 400px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.error-message{
  color: red;
}
/* Title */
.form-container h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  color: #ecf0f1;
  margin-bottom: 1.5rem;
}

/* Input Fields */
.form-group label {
  display: flex;
  font-size: 0.9rem;
  color: #ecf0f1;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 1rem;
  background-color: #34495e;
  color: #ecf0f1;
  font-size: 0.9rem;
}

/* Button */
.submit-container button {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #ecf0f1;
  font-size: 1rem;
  cursor: pointer;
}

.submit-container button:hover {
  background-color: #2980b9;
}

/* Forgot Password Link */
.register-container {
  margin-top: 1rem;
}

.register-container a {
  font-size: 0.8rem;
  color: #bdc3c7;
  text-decoration: none;
}

.register-container a:hover {
  text-decoration: underline;
}
.toggle-theme-button{
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #292f32;
    color: #ecf0f1;
    font-size: 1rem;
    cursor: pointer;
}
.register-container {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
 }
 .register-container a{
   color: #000000;
   text-decoration: none;
   font-weight: 600;
   font-size: 20px;
 }
 .register-container a:hover{
   text-decoration: underline;
 }
 .show-password {
  margin-bottom: 1rem;
  cursor: pointer;
}
 .show-password{
  display: flex;
  justify-content: end;
}
.dark-mode {
  background: linear-gradient(to bottom, #000000, #555555, #ffffff);
}

.light-mode {
  background-color: #2c3e50;
  color: #fff;               
}

.dark-mode .form-container {
  background-color: rgba(44, 62, 80, 0.9);
}

.dark-mode .toggle-theme-button {
  background-color: #f39c12;
  color: #fff;
}

.dark-mode .toggle-theme-button:hover {
  background-color: #e67e22;
}
.errors{
  color: red;
    font-size: 11px;
    display: flex
;
    justify-content: end;
}
.dark-mode .errors {
  color: #e74c3c;
}
