.main-container-home{
  display: flex;
}

.featured-movie-container {
}
.page-title {
  font-size: 4.5rem;
}
.list-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 1rem;
   margin-left: 60px;
    
}
.submaintitle {
  color: white;
  margin-left: 80px;
  margin-bottom: 20px;
  padding-top: 20px;
  font-size: 23px;
}

.featured-list-container {
    flex: 3 1;
    background-color: rgb(5, 5, 5);
    height: 100vh;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
}
.featured-backdrop {
 position: relative;
 width: 100%;
 height: 700px;
 
 
transition: 1s linear;
z-index: 2;
}
.featured-backdrop::before{
  content: '';
  position: relative;
  width: 100%;
  height: 40%;
  background: linear-gradient(0deg, rgba(17,16,16));
  bottom: 0;
  left: 0;
  z-index: -1;
}

.featured-movie-title {
  font-size: 25px;
  margin: 30px 150px 0px;
  position: relative;
  top: 340px;
  font-weight: 800;
  text-shadow: 1px 2px 11px black;
}
.btns button {
  background: red;
  position: relative;
  top: 356px;
  left: 147px;
  padding: 15px 28px;
  border: none;
  color: #fff;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0px 3px 10px #a29c9c;
  transition: .3s linear;
  cursor: pointer;
  
}
.btns button:hover{
  background: black;
}
.featured-movie-description {
  width: 550px;
    text-align: justify;
    font-size: 16px;
    margin: 10px 0px;
    position: relative;
    top: 49%;
    left: 8%;
    line-height: 24px;
    text-shadow:  2px 1px 5px #503e3e;
}

