* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

.Main {
  display: flex;
  overflow: hidden;
  max-height: 100vh;
}
.Main .container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.Main .container .outlet {
  flex-grow: 3;
  
  
}

.Main .container .navigation {
  height: 10%;
  width: 100%;
  display: flex
;
  border: 1.3px solid rgba(255, 255, 255, .1);
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #0000004d;
  color: #ffffffe6;
}
.logo img{
 width: 140px;
}
.Main .container .navigation .logo {
  margin: 0; 
}

.Main .container .navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 50px;
  display: flex;
}

.Main .container .navigation ul li {
  padding: 0 20px; 
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #61dafb;
  font-weight: bold;
  cursor: pointer;
}

.Main .container .navigation ul li.active a,
.Main .container .navigation ul li:hover a {
  text-decoration: none;
  color: white
}

.Main .container .navigation ul li a {
  text-decoration: none;
  color: rgb(37 30 30 / 74%);
  font-size: 22px;
  font-family: sans-serif;
  transition: .3s linear;
  font-weight: 800;
  letter-spacing: 2px;
}

.Main .container .navigation ul li.logout,
.Main .container .navigation ul li.login {
  cursor: pointer;
  justify-self: end;
}
